# logs
azurereview.log
/log/*.log

# Data folder
monkey-reports*

# Azurite
__azurite_db_queue__.json
__azurite_db_queue_extent__.json

site/
*.csv
*.bak
*.ps1.bak
*_extra.json

config/monkey_365_dev.config

profiles/

**/development/

rules/findings/extra/*
rules/rulesets/monkey_azure_1.0.json
rules/rulesets/monkey_m365_1.0.json
