site_name: Monkey365
site_url: https://silverhack.github.io/monkey365/
site_description: Monkey365
site_author: Juan Garrido

repo_url: https://github.com/silverhack/monkey365
edit_uri: blob/main/docs/

extra_css:
- assets/css/extra.css

hooks:
- docs_overrides/hooks/year.py

theme:
  name: material
  language: en
  font:
    text: Roboto
  palette:
    - scheme: slate
      primary: black
      accent: blue
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
    - scheme: default
      primary: black
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
  logo: assets/images/MonkeyLogo.png
  favicon: assets/images/favicon.ico
  icon:
    repo: fontawesome/brands/github
  features:
    - navigation.instant
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections:
        level: 1
    - navigation.expand
    - navigation.top
    - navigation.indexes
    - toc.follow
    - search.suggest
    - search.highlight
    - content.code.annotate
    - content.icons

nav:
  - Home: index.md
  - Quick Start:
      - Install Monkey365: install/install-instructions.md
      - Required Permissions: getting_started/permissions.md
      - Run Your First Scan: getting_started/basic-usage.md
      - Example Reports:
        - Azure: sample/monkey365_azure.html
  - Run & Configure:
      - Configuration (Overview):
          - Global Options: configuration/general-options.md
          - Azure Options: configuration/azure-options.md
          - Microsoft 365 Options: configuration/microsoft365-options.md
          - Configuration File: configuration/configuration-file.md
          - Rate Limits & Throttling: configuration/rate-limit.md
      - Docker: docker/docker.md
  - Authentication:
      - Overview: authentication/overview.md
      - Choose an Auth Flow:
          - Web Browser Interactive: authentication/authFlows/interactive.md
          - Device Code: authentication/authFlows/devicecode.md
          - Service Principal: authentication/authFlows/sp.md
          - ROPC (Username/Password): authentication/authFlows/ropc.md
      - Service Principal Setup:
          - Manual Setup: authentication/sp_authentication/getting_started.md
          - Automatic Setup: authentication/sp_authentication/automatic_setup.md
      - Supported Methods Matrix: authentication/supported_auth_methods_byapp.md
      - Using Microsoft Graph Client Id: authentication/using_mggraph_client_id.md
      - Passing Access Tokens: authentication/access_token.md
      - Authentication Prompts: authentication/authprompts.md
      - Current Limitations: authentication/limitations.md
  - Reports, Exporting & Logging:
      - Export Data:
          - Overview: exporting/exporting-data.md
          - CSV: exporting/export-csv.md
          - JSON: exporting/export-json.md
          - CLIXML: exporting/export-clixml.md
          - HTML: exporting/export-html.md
      - Logging:
          - Introduction: logging/introduction.md
          - Channels: logging/channels.md
          - File Logger: logging/File.md
          - Slack Logger: logging/Slack.md
          - Teams Logger: logging/Teams.md
  - Custom Checks and Rulesets:
      - Overview: security_checks/overview.md
      - Create a Custom Rule: security_checks/custom-rule.md
      - Custom Ruleset: security_checks/custom-ruleset.md
  - Help:
      - Support: support/support.md
      - Disclaimer: support/disclaimer.md
      - License and Contributing: license/license-contributing.md

extra:
  consent:
    title: Cookie consent
    description: >- 
      We use cookies to recognize your repeated visits and preferences, as well
      as to measure the effectiveness of our documentation and whether users
      find what they're searching for. With your consent, you're helping us to
      make our documentation better.
  analytics:
    provider: google
    property: G-M9919NENQD
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/silverhack/monkey365
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/tr1ana
  local:
    social_preview: https://user-images.githubusercontent.com/5271640/178448433-2eb54eaa-ffc4-40b7-9b90-4a6021a2f609.png
    repo_issue: https://github.com/silverhack/monkey365/issues
    repo_discussion: https://github.com/silverhack/monkey365/discussions
    
copyright: Copyright &copy; {year} <a href="https://twitter.com/tr1ana" target="blank">Juan Garrido</a>

markdown_extensions:
  - admonition
  - footnotes
  - pymdownx.details
  - pymdownx.superfences
  - attr_list
  - md_in_html
  - pymdownx.blocks.caption
  - toc:
      permalink: true