.container {
    font-family: arial;
    font-size: 24px;
    margin: 25px;
    width: 350px;
    height: 200px;
    outline: dashed 1px black;
  }

  .center {
    display: flex;
    align-items: center;
    justify-content: center;
  }