{
    "title": "Monkey 365 Config File",
     "requirements": {
        "psversion": "3",
        "netversion": "378389"
    },
    "version": {
        "Monkey365Version": "0.7-beta"
    },
    "debug": {
        "showResponseHeaders": "false"
    },
    "httpSettings": {
        "userAgent": ""
    },
	"jsonOptions": {
        "splitResources": "false"
    },
    "performance": {
		"BatchSleep": 4000,
		"BatchSize": 200,
        "nestedRunspaces": {
          "MaxQueue": "2"
        }
    },
    "profileSettings": {
        "profile": "profiles",
        "defaultProfile": "profiles/interactive_all.json"
    },
    "htmlSettings": {
        "tableformat": "core/html/htmlconf/tables"
    },
    "ruleSettings": {
        "rules": "rules/findings/",
        "conditions": "rules/",
        "azureDefaultRuleset": "rules/rulesets/cis_azure_1.4.json",
        "m365DefaultRuleset": "rules/rulesets/cis_m365_1.4.json"
    },
    "logging": {
        "default":[
            {
                "name": "File",
                "type": "file",
                "configuration": {
                    "filename": "monkey365_yyyyMMddhhmmss.log",
                    "includeExceptions": false,
                    "includeDebug": false,
                    "includeVerbose": false,
                    "includeError": false
                }
            }
        ],
        "loggers":[]
    },
    "excelSettings": {
        "ReportName": "Monkey 365 Dump Data",
        "HyperLinkcompanyName": "https://silverhack.github.io/monkey365/",
        "CompanyLogo": "images/MonkeyLogo.png",
        "CompanyLogoFront": "images/MonkeyLogo.png",
        "CompanyUserTopLeft": "",
        "dumpformat": "core/office/dumpformat",
        "Debug": "false",
        "tableFormatting": {
          "Style": "TableStyleDark3"
        },
        "HeaderStyle": {
          "1033": "Heading 3",
          "3082": "Título 3"
        }
    },
    "o365": {
        "licenseInfo": "core/utils/licenses/licenses.json",
        "SharePointOnline": {
			"ScanSites": "true",
			"Subsites": {
				"Recursive": "true",
				"Depth": "10"
			},
			"SitePermissions": {
				"IncludeInheritedPermissions": "true",
				"ScanFolders": "true",
				"ScanFiles": "true"
			}
        },
        "ExchangeOnline": {
          "GetExchangeGroups": "false",
          "GetPurViewGroups": "false"
        }
    },
    "azuread": {
        "usemsalAuth": "true",
        "userFilters": ["*"],
        "DirectoryRolesFilter": ["*"],
        "GroupFilter": ["*"],
        "AuditLogDaysAgo": "-7",
        "GetManagedApplicationsByPrincipalId": "true",
        "GetUserDetails": "true",
        "GetGroupMembers": "true",
        "useAzurePortalAPI": "true",
        "dumpAdUsersWithInternalGraphAPI": "true",
        "api_version": "1.6",
        "internal_api_version": "1.61-internal",
        "AuditLogFilter": [
            "activityType",
            "correlationId",
            "tenantId",
            "activityOperationType",
            "activity",
            "activityDate",
            "actor",
            "actorType",
            "targetResourceType",
            "targetobjectId,targetName",
            "targetUserPrincipalName",
            "ChangeAttribute",
            "OldValue",
            "NewValue"
        ]
    },
    "resourceManager": [
        {
            "name": "azureDocumentDB",
            "resource": {
              "api_version": "2019-12-12",
              "provider": "Microsoft.DocumentDB"
            }
        },
        {
            "name": "azureBotServices",
            "resource": {
              "api_version": "2017-12-01",
              "provider": "Microsoft.BotService"
            }
        },
        {
            "name": "azureWebApps",
            "resource": {
              "api_version": "2021-02-01",
              "provider": "Microsoft.Web"
            }
        },
        {
            "name": "azureForSQL",
            "resource": {
              "api_version": "2021-05-01-preview",
              "provider": "Microsoft.Sql"
           }
        },
		{
            "name": "azureForSQLFW",
            "resource": {
              "api_version": "2014-04-01",
              "provider": "Microsoft.Sql"
           }
        },
        {
            "name": "azureForPostgreSQL",
            "resource": {
              "api_version": "2017-12-01",
              "provider": "Microsoft.DBforPostgreSQL"
            }
        },
		{
            "name": "azureForPostgreSQLFW",
            "resource": {
              "api_version": "2017-12-01",
              "provider": "Microsoft.DBforPostgreSQL"
            }
        },
        {
            "name": "azureForMySQL",
            "resource": {
              "api_version": "2017-12-01",
              "provider": "Microsoft.DBforMySQL"
            }
        },
        {
            "name": "azureClassicVM",
            "resource": {
              "api_version": "2017-04-01",
              "provider": "microsoft.ClassicCompute"
            }
        },
        {
            "name": "azureVm",
            "resource": {
              "api_version": "2021-07-01",
              "provider": "microsoft.Compute"
            }
        },
        {
            "name": "azureDisk",
            "resource": {
              "api_version": "2021-04-01",
              "provider": "microsoft.Compute"
            }
        },
        {
            "name": "azureSecurityStatuses",
            "resource": {
              "api_version": "2015-06-01-preview",
              "provider": "microsoft.Security"
            }
        },
        {
            "name": "azureAlerts",
            "resource": {
              "api_version": "2021-01-01",
              "provider": "microsoft.Security"
            }
        },
        {
            "name": "azureContacts",
            "resource": {
              "api_version": "2020-01-01-preview",
              "provider": "microsoft.Security"
            }
        },
        {
            "name": "azurePricings",
            "resource": {
              "api_version": "2018-06-01",
              "provider": "microsoft.Security"
            }
        },
        {
            "name": "azureInsights",
            "resource": {
              "api_version": "2016-03-01",
              "provider": "microsoft.insights"
            }
        },
        {
            "name": "azureLogProfile",
            "resource": {
              "api_version": "2016-03-01",
              "provider": "microsoft.insights"
            }
        },
        {
            "name": "azureNSG",
            "resource": {
              "api_version": "2017-10-01",
              "provider": "Microsoft.Network"
            }
        },
        {
            "name": "azureAuthorization",
            "resource": {
              "api_version": "2015-06-01",
              "provider": "Microsoft.Authorization"
            }
        },
        {
            "name": "azureStorage",
            "resource": {
              "api_version": "2019-04-01",
              "provider": "Microsoft.Storage"
            }
        },
        {
            "name": "azureClassicStorage",
            "resource": {
              "api_version": "2016-11-01",
              "provider": "Microsoft.ClassicStorage"
            }
        },
        {
            "name": "azureKeyVault",
            "resource": {
              "api_version": "2018-02-14",
              "provider": "Microsoft.KeyVault"
            }
        },
        {
            "name": "azureSecurityPolicies",
            "resource": {
              "api_version": "2015-06-01-preview",
              "provider": "Microsoft.Security"
            }
        },
		{
            "name": "securityCenter",
            "resource": {
              "api_version": "2021-07-01",
              "provider": "Microsoft.Security"
            }
        },
        {
            "name": "azureAppGateway",
            "resource": {
              "api_version": "2020-03-01",
              "provider": "Microsoft.Network"
            }
        },
        {
            "name": "azureCognitive",
            "resource": {                
              "api_version": "2017-04-18",
              "provider": "Microsoft.CognitiveServices"
            }
        },
        {
            "name": "azureContainerRegistry",
            "resource": {
              "api_version": "2019-05-01",
              "provider": "Microsoft.ContainerRegistry"
            }
        },
        {
            "name": "aadds",
            "resource": {
              "api_version": "2017-06-01",
              "provider": "Microsoft.AAD"
            }
        },
        {
            "name": "resourceGraph",
            "resource": {
              "api_version": "2019-04-01",
              "provider": "Microsoft.ResourceGraph"
            }
        },
        {
            "name": "azureKubernetes",
            "resource": {
              "api_version": "2020-09-01",
              "provider": "Microsoft.ContainerService/managedClusters"
            }
        },
        {
            "name": "azureLocks",
            "resource": {
              "api_version": "2016-09-01",
              "provider": "Microsoft.Authorization"
            }
        },
        {
            "name": "azureRecommendations",
            "resource": {
              "api_version": "2020-01-01",
              "provider": "Microsoft.Advisor"
            }
        },
        {
            "name": "azureContainers",
            "resource": {
              "api_version": "2019-12-01",
              "provider": "Microsoft.ContainerInstance"
            }
        },
		{
            "name": "policyAssignments",
            "resource": {
              "api_version": "2021-06-01",
              "provider": "Microsoft.Authorization"
            }
        }
    ]   
}
