table.dataTable td, table.dataTable th {
  background-color: white;
}
table.dataTable .dtfc-fixed-left,
table.dataTable .dtfc-fixed-right {
  z-index: 1;
}

div.dtfc-right-top-blocker {
  border-bottom: none !important;
}

tr.dt-rowReorder-moving td.dtfc-fixed-left,
tr.dt-rowReorder-moving td.dtfc-fixed-right {
  border-top: 2px solid #888 !important;
  border-bottom: 2px solid #888 !important;
}
tr.dt-rowReorder-moving td.dtfc-fixed-left:first-child {
  border-left: 2px solid #888 !important;
}
tr.dt-rowReorder-moving td.dtfc-fixed-right:last-child {
  border-right: 2px solid #888 !important;
}
