table.dataTable.dtfc-has-left tbody {
  border-left: none;
}
table.dataTable.dtfc-has-left th {
  background-color: #f8f8f8;
}
table.dataTable.dtfc-has-left tr.odd td {
  background-color: white;
}
table.dataTable.dtfc-has-left thead,
table.dataTable.dtfc-has-left th:first-child,
table.dataTable.dtfc-has-left td:first-child {
  border-left: 0px solid #f1f1f1;
}
table.dataTable.dtfc-has-left tr.even td {
  background-color: #f1f1f1;
}

div.dtfc-right-top-blocker {
  background-color: #f8f8f8 !important;
  margin-top: 7px;
  border-bottom: none !important;
}

tr.dt-rowReorder-moving td.dtfc-fixed-left,
tr.dt-rowReorder-moving td.dtfc-fixed-right {
  border-top: 2px solid #888 !important;
  border-bottom: 2px solid #888 !important;
}
tr.dt-rowReorder-moving td.dtfc-fixed-left:first-child {
  border-left: 2px solid #888 !important;
}
tr.dt-rowReorder-moving td.dtfc-fixed-right:last-child {
  border-right: 2px solid #888 !important;
}
